<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="img-sec" *ngFor="let data of contentDetails">
                <img class="w-100" [src]="data.imgDetail" />
            </div>
        </div>
        <!-- <div class="col-md-6">
            <section class="firstPart" *ngFor="let data of contentDetails">
                <div class="card-body">
                    <h6 class="card-title">{{data.title}}</h6>
                    <p class="card-text fs-4 fw-bolder" style="font-size: 600;">{{data.price}}</p>
                    <a href="#" class="btn btn-primary">{{mobi.rating}}</a>
                    <div class="d-flex justify-content-between"><span class="badge text-bg-success px-3 fs-6 fw-light rounded-pill" style="background-color: rgb(25,135,84);">{{data.rating}}</span><span>{{data.availability}}</span></div>
                  </div>
            </section>
            <section class="seconndPart"></section>
        </div> -->
    </div>
</div>
